certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.2
Django==1.10
django-allauth==0.32.0
django-crispy-forms==1.6.1
gunicorn==19.7.1
idna==2.5
oauthlib==2.0.2
psycopg2==2.7.3
python-openid==2.2.5
requests==2.18.1
requests-oauthlib==0.8.0
stripe==1.62.0
urllib3==1.24.2
whitenoise==3.3.0
